<section class="data js-collapse">
  <div class="data__title">
    <h2 class="data__title__text home--title">
      <i class="data__title__text__icon far fa-keyboard"></i>Rellena
      <!--cambiar por icon-->
    </h2>
    <button class="data__title__btn js-btn-collapse">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
  <div class="data__form--wrapper collapse">
    <div action="" class="data__form" method="POST">
      <label for="name" class="data__form-label">Nombre completo</label>
      <input
        type="text"
        name="name"
        class="data__form-item js-form_name"
        placeholder="Ej: Sally Jill"
      />
      <label for="job" class="data__form-label">Puesto</label>
      <input
        type="text"
        name="job"
        class="data__form-item js-form__job"
        placeholder="Ej: Front-end unicorn"
      />
      <label for="user_image" class="data__form__image-label"
        >Imagen de perfil</label
      >
      <div class="data__form__image">
        <label for="photo" class="data__form__image-button">
          Añadir imagen
          <input type="file" id="photo" />
        </label>
        <div class="data__form__image-thumbnail"></div>
      </div>
      <label for="email" class="data__form-label">Email</label>
      <input
        type="email"
        name="email"
        class="data__form-item js-link_email"
        placeholder="Ej: adalab@gmail.com"
      />
      <label for="job" class="data__form-label">Teléfono</label>
      <input
        type="tel"
        name="phone"
        class="data__form-item js-link_phone"
        placeholder="Ej: 632-54-12-36"
      />
      <label for="linkedin" class="data__form-label">LinkedIn</label>
      <input
        type="text"
        name="linkedin"
        class="data__form-item js-link_linkedin"
        placeholder="Ej: sally.hill"
      />
      <label for="github" class="data__form-label">GitHub</label>
      <span class="data__form-before">@</span>
      <input
        type="text"
        name="github"
        class="data__form-item js-link_github"
        placeholder="Ej: @sallyHill"
      />
    </div>
  </div>
</section>
