<section class="design  js-collapse">
  <div class="design__title">
    <h2 class="design__title__text home--title">
      <i class="design__title__icon far fa-object-ungroup"></i>Diseña
    </h2>
    <button class="design__title__btn js-btn-collapse">
      <i class="fa fa-chevron-up icon"></i>
    </button>
  </div>
  <div class="design__colors collapse">
    <p class="design__colors__text home--subtitle">Colores</p>
    <div class="design__colors__choose js-palett-choose">
      <partial src="_palett-colors.html" colorClass="blue" id="blue" inputvalue=" 1"></partial>
      <partial src="_palett-colors.html" colorClass="red" id="red" inputvalue=" 2"></partial>
      <partial src="_palett-colors.html" colorClass="yell" id="yell" inputvalue=" 3"></partial>
      <partial src="_palett-colors.html" colorClass="gre" id="gre" inputvalue=" 4"></partial>
      <partial src="_palett-colors.html" colorClass="pur" id="pur" inputvalue=" 5"></partial>
    </div>
  </div>
</section>
