<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
  <title>Awesome Profile Cards</title>
  <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
    rel="stylesheet"
  />
  <link href="./assets/fonts/css/fontawesome.css" rel="stylesheet" />
  <link href="./assets/fonts/css/brands.css" rel="stylesheet" />
  <link href="./assets/fonts/css/solid.css" rel="stylesheet" />
  <link href="./assets/fonts/css/regular.css" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css/index.css" />
  <link rel="stylesheet" href="./assets/css/home.css" />
</head>
