<main class="main">
  <section class="visualization">
    <form class="blue js-visualizationReset">
      <div class="visualization__wrap">
        <button class="visualization__reset home--subtitle js-reset" type="reset">
          <i class="visualization__reset__icon far fa-trash-alt"></i>
          Reset
        </button>
        <div class="visualization__user">
          <div class="text__wrap text--border">
            <h3 class="visualization__user__name name--color js-visualization-data">
              Nombre Apellido
            </h3>
            <p class="visualization__user__job js-visualization-data">
              Front-end developer
            </p>
          </div>
          <div class="visualization__user__img"></div>
          <ul class="visualization__user__icon-list">
            <li class="icon-wrap border--color js-phone">
              <i class="icon fa fa-mobile-alt"></i>
            </li>
            <li class="icon-wrap border--color js-email">
              <i class="icon fa fa-envelope"></i>
            </li>
            <li class="icon-wrap border--color js-linkedin">
              <i class="icon fab fa-linkedin-in"></i>
            </li>
            <li class="icon-wrap border--color js-github">
              <i class="icon fab fa-github-alt"></i>
            </li>
          </ul>
        </div>
      </div></section>
  <section class = "js-data__input responsive">
    <partial src="_design.html"></partial>
    <partial src="_data.html"></partial>
    <partial src="_share.html"></partial>
  </section>
</main>
