<section class="share js-collapse">
  <div class="share__title">
    <h2 class="share__title__text home--title">
      <i class="share__title__icon fas fa-share-alt"></i>Comparte
    </h2>
    <button class="share__title__btn js-btn-collapse">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
  <div class="share__createcard__btn collapse">
    <button class="share__createcard__btn__title js-saveLocalStorage">
      Crear Tarjeta
      <i class="share__createcard__btn__icon fas fa-address-card"></i>
    </button>
  </div>
  <div class="share__twitter js-hidden">
    <h3 class="share__twitter__title">La tarjeta ha sido creada:</h3>
    <small class="share__twitter__link js-response">https://awesome-profile-card.com?id=A456DF0001</small>
    <button class="share__twitter__btn js-twitter-url"><a href="" class= "sharetwitter"> Compartir en twitter<i class= "share__twitter__icon fab fa-twitter"></i></a>
    </button>
  </div>
</section>
