<!DOCTYPE html>
<html>
  <partial src="_head.html"></partial>
  <body id="index_page" class="layout">
    <main class="layout-page">
      <img
        src="./assets/images/logo-awesome-profile-cards.svg"
        alt="Bienvenid@s a Aweseme Profile-Cards"
        class="layout-page__logo"
      />
      <div class="layout-page__description">
        <h1 class="layout-page__description__title">
          Crea tu tarjeta de visita
        </h1>
        <p class="layout-page__description__text">
          Crea mejores contactos profesionales de forma fácil y cómoda
        </p>
      </div>
      <nav class="layout-page__menu">
        <ul class="layout-page__menu__list">
          <li class="layout-page__menu__list__itens">
            <i class="far fa-object-ungroup"></i>
            <p class="layout-page__menu__list__description">Diseña</p>
          </li>
          <li class="layout-page__menu__list__itens">
            <i class="far fa-keyboard"></i>
            <p class="layout-page__menu__list__description">Rellena</p>
          </li>
          <li class="layout-page__menu__list__itens">
            <i class="fas fa-share-alt"></i>
            <p class="layout-page__menu__list__description">Comparte</p>
          </li>
        </ul>
      </nav>
      <button class="layout-page__button" type="button">
        COMENZAR
      </button>
    </main>
    <partial src="_footer.html"></partial>
    <script src="./assets/js/landing.js"></script>
  </body>
</html>
