@import "./variables.scss";
@import "./reset";
@import "./mixins";
@import "./typography";
@import "./header";
@import "./main";
@import "./design";
@import "./colors";
@import "./personalitation";
@import "./footer";
@import "./form";
@import "./share";

.main {
  background-color: $colorBackground;
  padding-bottom: 30px;
  @media all and (min-width: $mediaTablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.responsive {
  @media all and (min-width: $mediaTablet) {
    min-width: 399px;
    margin-right: 40px;
    margin-top: 30px;
  }
}
