@import "./variables.scss";
@import "./reset";
@import "./mixins";
@import "./typography";
@import "./header";
@import "./main";
@import "./design";
@import "./colors";
@import "./personalitation";
@import "./footer";
@import "./form";
@import "./share";

.main {
  background-color: $colorBackground;
  padding-bottom: 30px;
  @media all and (min-width: $mediaTablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.responsive {
  @media all and (min-width: $mediaTablet) {
    min-width: 399px;
    margin-right: 40px;
    margin-top: 30px;
  }
}

.design.hidden {
  padding: 30px 0 7px;

  .design__title {
    margin: 0;

    &__btn {
      transform: rotateX(180deg);
    }
  }
  .collapse {
    display: none;
    transition: 0.5s ease display;
  }
}
