@import "core/variables";

.data {
  display: flex;
  flex-direction: column;
  max-width: 281px;
  margin: auto;
  justify-content: center;
  border-bottom: 1px solid $colorBorderBottom;
  @media all and (min-width: $mediaTablet) {
    max-width: 329px;
  }
  &__title {
    margin-top: 27px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    &__text__icon {
      font-size: 18px;
      color: $colorButton;
      margin-right: 10px;
      width: 21px;
      height: 18px;
    }
    &__btn {
      font-size: 18px;
      color: $colorHomeText;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-before {
      transform: translateY(36px);
      background-color: $colorPBlueSecondary;
      width: 20px;
      text-align: center;
      margin-top: -20px;
      padding-top: 5px;
      height: 23px;
    }
    &__image {
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 0;
      &-label {
        color: $colorGreenDark;
        font-family: $font-familyText;
        font-size: 14px;
      }
      &-thumbnail {
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-button {
        width: 140px;
        height: 30px;
        background-color: $colorButton;
        text-decoration: none;
        color: $colorWhite;
        font-family: $font-familyText;
        font-size: 14px;
        border-radius: 3px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        #photo {
          display: none;
        }
      }
      &-thumbnail {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 1px solid $colorPBlueTertiary;
      }
    }
    //Fin del estilo image
    &-label {
      color: $colorGreenDark;
      font-family: $font-familyText;
      font-size: 14px;
    }
    &-item {
      box-sizing: border-box;
      height: 30px;
      margin-top: 7px;
      margin-bottom: 20px;
      border: 1px $colorPBlueTertiary solid;
      padding-inline-start: 25px;
      &::placeholder {
        font-family: $font-familyText;
        color: #c5c5c5;
        font-size: 14px;
      }
    }
  }
}

.data__form--wrapper {
  display: flex;
  flex-direction: column;
}

.data.hidden {
  padding: 30px 0 7px;

  .data__title {
    margin: 0;
    &__btn {
      transform: rotateX(180deg);
    }
  }
  .collapse {
    display: none;
    transition: 0.5s ease display;
  }
}
