.design {
  padding: 30px 0 30px;
  max-width: 280px;
  margin: auto;
  border-bottom: 1px solid $colorBorderBottom;

  @media all and (min-width: $mediaTablet) {
    max-width: 329px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    &__icon {
      font-size: 18px;
      color: $colorButton;
      margin-right: 10px;
      width: 21px;
      height: 18px;
    }

    &__btn {
      font-size: 18px;
      color: $colorHomeText;
    }
  }

  &__colors {
    display: flex;
    justify-content: space-between;
    &__text {
      margin-left: 20px;
      @media all and (max-width: $mediaTablet) {
        margin-left: 0;
      }
    }
  }
}
