@import "core/variables";

.footer {
  height: 20vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px #d8d8d8 solid;
  padding: 0 40px;
  @media all and (min-width: $mediaTablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  &_container {
    display: flex;
    align-items: center;
    color: #6b6b6b;
    font-family: $font-familyText;
    font-size: 14px;
    &_logo {
      width: 150px;
      margin-left: 15px;
    }
  }

  &_logo {
    width: 103px;
    height: 40px;
    margin-top: 12px;
  
  }
}
