.share {
  padding: 30px 0 30px;
  max-width: 280px;
  margin: auto;
  border-bottom: 1px solid $colorBorderBottom;
  display: flex;
  flex-direction: column;
  @media all and (min-width: $mediaTablet) {
    max-width: 329px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__icon {
      font-size: 18px;
      width: 21px;
      height: 18px;
    }
    &__btn {
      font-size: 18px;
      color: $colorHomeText;
    }
  }
  &__createcard__btn {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $colorBorderBottom;
    padding-top: 30px;

    &__title {
      height: 50px;
      width: 199px;
      border-radius: 12px;
      background-color: $colorButton;
      color: $colorWhite;
      font-family: $font-familyText;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      padding: 13px 18px 13px 51px;
      margin-bottom: 30px;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }
    }
    &__icon {
      color: white;
      position: relative;
      right: 67%;
      transform: translate(0px, -83%);
    }
  }
  &__twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    &__title {
      color: $colorHomeText;
      font-family: $font-familyText;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 5px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    &__btn {
      height: 30px;
      width: 181px;
      border-radius: 3px;
      background-color: $coloeButtonTwitter;
      font-family: $font-familyText;
      font-size: 14px;
      line-height: 1.43;
      padding: 3px 9px 7px 38px;
      margin: auto;
      .sharetwitter {
        text-decoration: none;
        color: $colorWhite;
      }
    }
    &__icon {
      width: 18px;
      height: 18px;
      position: relative;
      right: 60%;
      transform: translate(-19%, -100%);
    }
    &__link {
      color: $colorButton;
      font-family: $font-familyText;
      font-weight: 600;
      font-size: 12px;
      min-width: 292px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
}
.share__form--wrapper {
  display: flex;
  flex-direction: column;
}

.share.hidden {
  padding: 30px 0 7px;

  .share__title {
    margin: 0;
    &__btn {
      transform: rotateX(180deg);
    }
  }
  .collapse {
    display: none;
    transition: 0.5s ease display;
  }
}
.js-hidden{
  display: none; // tarjeta creada
}