.visualization {
  background-image: url("../../assets/images/background-card2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 457px;
  padding: 40px;
  box-sizing: border-box;
  opacity: 1;

  @media all and (min-width: $mediaTablet) {
    min-width: 330px;
    margin: 20px 44px 20px 0;
    border-radius: 6px;
    min-height: 826px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap {
    margin: 0 auto;
    width: 240px;
  }

  &__reset {
    border: 1px solid $colorWhite;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 75px;
    height: 30px;
    color: $colorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon {
      color: $colorWhite;
      font-size: 15px;
      // padding: 5px;
    }
  }

  &__user {
    box-sizing: border-box;
    width: 100%;
    height: 330px;
    padding-top: 23px;
    background-color: $colorWhite;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);

    .text__wrap {
      padding-left: 15px;
      margin-bottom: 10px;
      border-left: 5px solid red;
    }

    &__name {
      font: bold 18px $font-familyTitle;
      width: 100%;
      height: 20px;
      overflow: hidden;
    }

    &__job {
      color: $colorHomeText;
      font: 16px $font-familyTitle;
      line-height: 20px;
      width: 100%;
      height: 20px;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 200px;
      background-image: url("../images/blank-profile.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__icon-list {
      margin: 10px 0 0 20px;
      display: flex;

      .icon-wrap {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 2px solid;
        border-radius: 50%;
        margin-right: 10px;

        .icon {
          font-size: 18px;
          opacity: 0.5;
        }
      }
    }
  }
}
