.home--title {
  color: $colorHomeText;
  font-family: $font-familyText;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.home--subtitle {
  color: $colorHomeText;
  font-family: $font-familyText;
  font-size: 14px;
  text-transform: uppercase;
}
