@import "core/variables";
@import "core/reset";
@import "core/mixins";
@import "components/typography";
@import "layouts/header";
@import "layouts/visualization";
@import "layouts/design";
@import "layouts/palett-colors";
@import "layouts/personalization";
@import "layouts/footer";
@import "layouts/data";
@import "layouts/share";

.main {
  background-color: $colorBackground;
  padding-bottom: 30px;
  @media all and (min-width: $mediaTablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.responsive {
  @media all and (min-width: $mediaTablet) {
    min-width: 399px;
    margin-right: 40px;
    margin-top: 30px;
  }
}

.design.hidden {
  padding: 30px 0 7px;

  .design__title {
    margin: 0;

    &__btn {
      transform: rotateX(180deg);
    }
  }
  .collapse {
    display: none;
    transition: 0.5s ease display;
  }
}
