//Colors
$colorBlack: #000;
$colorGreenDark: #114e4e;
$colorGreenMedium: #438792;
$colorBackground: #f5f5f5;
$colorHomeText: #54585a;
$colorWhite: #ffffff;
$colorButton: #e17334;
$colorPBluePrimary: #114e4e;
$colorPBlueSecondary: #438792;
$colorPBlueTertiary: #a2deaf;
$colorPRedPrimary: #420101;
$colorPRedSecondary: #bd1010;
$colorPRedTertiary: #e95626;
$colorPYellowPrimary: #3e5b65;
$colorPYellowSecondary: #eab052;
$colorPYellowTertiary: #a0c0cf;
$colorBorderBottom: #d8d8d8;
$coloeButtonTwitter: #00a0f5;
$colorPGreenPrimary: #53E550;
$colorPGreenSecondary: #E2C913;
$colorPGreenTertiary: #353604;
$colorPPurplePrimary: #CCAEDF;
$colorPPurpleSecondary: #C92C59;
$colorPPurpleTertiary:#7D777E;


//Fonts
$font-familyLanding: "Merriweather", serif;
$font-familyText: "Open Sans", sans-serif;
$font-familyTitle: "Montserrat", sans-serif; /* <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> */

//Images path
$imagesPath: "../assets/images/";
$iconsPath: "../assets/icons/";

//Media-querys
$mediaTablet: 768px;
$mediaDesktop: 1024px;
